.sweet-input{
  @include input-base;
  font-size: $font-s;
  padding-left: 50px;
  margin-bottom: 16px;
}
.sweet-btn{
  @include btn;
  height: 65px;
  width: 100%;
  font-size: $font-m;
}
.checkbox{
  width: 16px;
  height: 16px;
  border: 0;
  cursor: pointer;
  background-color: $second;
}

